{{define "index.html"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/contact.css">
</head>

<body>
    
    <main>
        {{template "header" .}}
        <div class="game-card">
            <div class="home__info">
                <h1>{{ .Title }}</h1>
                <p>{{ .Message }}</p>
            </div>
            {{if .Form}}
            <div>
                <form class="enterName" method="post" action="/changeName">
                    <p class="txt">entrez nom joueur rouge</p>
                    <input class="txtentre" type="text" name="redName">
                    <p class="txt">entrez nom joueur jaune</p>
                    <input class="txtentre" type="text" name="yellowName">
                    <br><br>
                    <button class="btnenv" type="submit">changer les noms</button>
                </form>
            </div>
            {{end}}
            <div class="game__container">
                <form method="post" action="/step" class="buttons__container">
                    <button class="chip" type="submit" name="piece" value="1">piece 1</button>
                    <button class="chip" type="submit" name="piece" value="2">piece 2</button>
                    <button class="chip" type="submit" name="piece" value="3">piece 3</button>
                    <button class="chip" type="submit" name="piece" value="4">piece 4</button>
                    <button class="chip" type="submit" name="piece" value="5">piece 5</button>
                    <button class="chip" type="submit" name="piece" value="6">piece 6</button>
                    <button class="chip" type="submit" name="piece" value="7">piece 7</button>
                </form>


                <div class="table__container">
                    <!-- <img class="table" src="/static/images/tableau.png" alt=""> -->
                    {{range .Placements}}
                    <img style="left: {{.X}}px; bottom: {{.Y}}px;" class="jetton {{.Color}}"
                        src="/static/images/jeton_{{.Color}}.png" alt="">
                    {{end}}
                </div>
                <form class="resetForm" method="post" action="/reset">
                    <button class="btn" type="submit">Rejouer</button>
                </form>
            </div>
        </div>
    </main>
</body>

</html>
{{end}}