{{define "index.html"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    {{template "header" .}}

    <main>
        <h1>{{ .Title }}</h1>
        <p>{{ .Message }}</p>
        <div class="game__container">
            <form method="post" action="/step" class="buttons__container">
                <button type="submit" name="piece" value="1">piece 1</button>
                <button type="submit" name="piece" value="2">piece 2</button>
                <button type="submit" name="piece" value="3">piece 3</button>
                <button type="submit" name="piece" value="4">piece 4</button>
                <button type="submit" name="piece" value="5">piece 5</button>
                <button type="submit" name="piece" value="6">piece 6</button>
                <button type="submit" name="piece" value="7">piece 7</button>
            </form>
            <div class="table__container">
                <img class="table" src="/static/images/tableau.png" alt="">
                <img class="jetton" src="/static/images/jeton_red.png" alt="">
            </div>
        </div>
    </main>
    {{template "footer" .}}
</body>

</html>
{{end}}